# Properties files are configuration files used by PHING scripts containing:
# key=value
# more info at: https://redweb.atlassian.net/wiki/display/RWEB/Using+PHING+for+packaging+and+testing+an+extension

# Extension details:
comp.name=redslider
comp.version=2.0.15

# Testing Joomla site localhost folder used by build.xml
www.dir=/var/www/redslider2
joomla.version=2.5

# The current GIT repository location
repo.dir=/home/albert/github/redSLIDER2

# Folder to create the extension .zip build package used by component_packager.xml
package.dir=/home/albert/git.package
